  /*prabhat pandit stylesheets */
.fancybox-margin {
	margin-right: 0px;
}
.slider1{
  width: 100%;
  position: relative;;
  display: flex;;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
}
.full{
  width:100% !important;
  object-fit: cover;
  position: relative;
  max-width: 100%;
  margin:0;
  display: block;
}

body{
  overflow-x: hidden;
}
/*#whyus{
  margin-top: 108px !important;
}*/
.width-fitfy{
    width: 50%;
  }
  .c-font-color {
    color:#455d58 !important;
}
.custom-btn{
    background: #455d58 !important;
    color: #fff !important;
}
  .head-para{
    position: relative;
    display: flex;
    width: 54%;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .header-para{
    position: relative;
    font-size: 18px !important;
    font-family: inherit;
    display: block;
    font-weight: 400;
    text-align: left;
    color:#455d58 !important;
    
  }
  .desk-margin-custom{
    margin-top: 0px !important;
  }

/*.c-bg-white{
  background: #faf7f2;
}*/


.owl-carousel .owl-controls {
    margin-top: 0px !important;

    position: absolute;
    bottom: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 100vh;
}
.owl-nav{
  display: none;
}
.owl-theme .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
    line-height:15px;
    margin: 5px 7px;
    background: yellow;
    border: thin solid black;
    display: block;
    padding:10px !important;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius:100%;
}
.owl-theme .owl-dots .owl-dot:hover span {
    background: #869791;
    background-color: #fff;
}

.owl-theme .owl-dots .owl-dot.active span {
    background: #869791;
    background-color:bumblebee;
}
.text-big{text-transform: uppercase;}

.c-font-50 {
    font-size: 50px;
}
/*.header-content {
    padding: 17% 6%;
    z-index: 9;
    position: fixed;
    top: -50px;
    font-family: 'Montserrat', sans-serif;
}*/
.header-content {
    /*padding: 17% 6%; */
    z-index: 9;
    position: absolute;
    top: 50%;
    font-family: 'Montserrat', sans-serif;
    left: 50%;
    transform: translate(-50%, -50%);
}
.child-dropdown{
    display: grid;
    /*display: none;*/
    background: #fff;
    z-index: 999 !important;
    position: absolute;
    box-shadow: 2px 3px 20px rgba(0,0,0,0.2);
    box-sizing: border-box;
    width:250px;
    width: 300px;
    height:auto;
    top: 150px;
    padding: 0px;
    list-style-type: none;
    margin:0;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 4px;
    font-family:'Montserrat', sans-serif !important;
    border:thin solid whitesmoke;
    transition: all 0.2s ease;
}
.shownow{
    top: 100px;
    visibility:visible;
    overflow:unset;
    opacity: 1;
    transition: all 0.2s ease;
}
.child-dropdown:after{
  position: absolute;
  display: block;
  top: -29px;
  left: 20px;
  content: "";
  border-bottom: 15px solid #e6e6e6;
  border-top: 15px solid transparent;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;

}
.links-dropdown{
    position: relative;
    display: block;
    color: #000;
    padding: 20px;
    letter-spacing: 1px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 20px;
    font-weight: 400;
    font-family:'Montserrat', sans-serif !important;
    
}
.child-li{
  position: relative;
  display: block;
  margin:0;
  list-style-type: none;
}

.links-dropdown:hover{
  background-color:#f6f9fc !important;
  color:#000 !important;
  transition: all 0.4s ease;
}
.show:hover .child-dropdown{
  display: grid;
  transition: all 0.4s ease;
}

.most-inner{
    position: absolute;
    display: none;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 4px 3px 20px rgba(0,0,0,0.3);
    width: 200px;
    height:fit-content;
    min-height: 1px;
    border-radius: 5px;
    right: -198px;
    z-index: 99;
    padding: 0px;
    margin: 0;
    top:4px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.inner-li{
    padding: 0px;
    margin: 0;
    line-height: unset;
    display: block;
    list-style-type: none;
    position: relative;
}
.inner-links{
    padding: 16px;
    display: block;
    position: relative;

}
.inner-links {
    padding: 10px;
    display: block;
    position: relative;
    display: block;
    width: 207px;
    line-height: initial;
}
.show-li:hover .most-inner{
  display: grid;
  transition: all 0.4s ease;
}

.c-content-title-3 {
    margin-bottom: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.yop{

  margin-top:30px !important;
}
.mobile-dropdown{
  background: #38bcc8;
}
.mobile-dropdown-two{
  background: #38bcc8;
}
.mobile-dropdown-three{
  background: #38bcc8;
}
.c-onepage-link{
    margin-right: 25px;
    margin-left: 10px;
    position: relative;
}
.c-theme-nav li:focus > a:not(.btn), .c-theme-nav li:active > a:not(.btn), .c-theme-nav li:hover > a:not(.btn) {
    /*color: #fff !important;*/
}
.links-dropdown:hover .tele{
  color:#07c597;
}
.mobile-visible{
  display: block !important;
  padding: 0px;
  transition: all 0.4s ease;
}
.mobile-links{
    position: relative;
    display: block;
    color: #fff;
    padding: 20px;
    letter-spacing: 1px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 20px;
    font-weight: 400;
    border-bottom: 0.6px solid whitesmoke;
    font-family: 'Montserrat', sans-serif !important;
}
.btn-new{
    border-color: #07c597 !important;
    color: #fff !important;
    background: #07c597 !important;
}

.btn-new:hover{
  background-color:#07c597 !important;
  color: #fff !important;
}

.owl-theme:not(.owl-single):not(.owl-bordered) .owl-wrapper .owl-item, .owl-theme:not(.owl-single):not(.owl-bordered) .owl-stage-outer .owl-item {
    padding:0px !important;
}

.c-layout-go2top {
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 37px;
    cursor: pointer;
    z-index: 1000;
}
.c-mega-menu-onepage-dots {
    width: 12px;
    position: fixed;
    list-style: none;
    top: 50%;
    right:16px;
}
.item{
    width: 100%;
    position: relative;
    display: flex;
    object-fit: cover;
}

.center-button{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    flex-direction: column;
    margin-top: 20px;
}

.btn-white{
    border-color: #FFD81B;
    color: #000;
    background: #fff !important;
    padding: 12px 70px !important;
}
.center-services-img {
    width: 30rem !important;
    margin-top: 8rem;
}

.btn, button, [role=button], [type=submit] {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: gray;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    line-height: 1.5;
    margin: 0;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
}

/*.banner {
    position: relative;
    top: 108px;
    left: 0;
    width: 100%;
    height: 850px;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}*/

.form-control {
    width: 100%;
    height: 34px;
    padding: 22px 12px;
    background-color: #fff;
    border: 1px solid #c2cad8 !important;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
textarea.form-control {
    height: auto;
    min-height: 120px;
}
.Callback-button{
    background: #ffd81c;
    position: relative;
    display: inline-block;
    padding: 2px 10px;
    border-radius: 7px;
    cursor: pointer;
}
.Callback-button:hover{
  color: #ffffff;
}

.swal2-backdrop-show{
    overflow-y: auto;
    z-index: 99999999999999999999 !important;
}
.swal2-container {
    display: -webkit-box;
    display: flex;
    position: fixed;
    z-index: 1060;
    top: 0;
    right: 0;
    z-index: 999999999999 !important;
    bottom: 0;
    left: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: .625em;
    overflow-x: hidden;
    -webkit-transition: background-color .1s;
    transition: background-color .1s;
    -webkit-overflow-scrolling: touch;
}

.width-center{
  margin:0 auto;
  width:65%;
  margin-left:auto;
  margin-right: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction:column;
  flex-shrink: initial;
  flex-wrap: nowrap;
  margin-top:20px;
  margin-bottom:30px;
}

.para {
    font-size: 17px;
    color: #4E5464;
    font-family: lato, sans-serif;
    font-weight: 300;
    text-align: left;
    line-height: 28px;
}
.col-md{
  position: relative;
  display: block;
  margin:0 auto;
  margin-right: 40px !important;
  display: grid;
  flex-shrink: initial;
  flex-direction: column;
  justify-content: center;
  width:100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn-black{
    border-color: #FFD81B;
    color: #000;
    color: #fff !important;
    background: #111938 !important;
    padding: 12px 70px !important;

}
.para-bold{
  font-weight:900;
  font-size: 23px;
}
.yl{
  color: #ffd81c;
  font-size: 17px;
}
.btn-yellow{
  background-color: #ffd81c !important;
}
.sub-heading {
    line-height: 19px;
    font-size: 20px;
    background-color: transparent;
    position: relative;
    text-align: center;
    font-family: lato, sans-serif;
    min-height: 24px;
    font-weight: 300;
    margin-top: 21px;
    color: #4E5464;
}
.modal-body{

  padding: 40px 70px !important;
}
.modal-header{
  padding: 15px 50px !important;
}
.form-control {
    width: 100%;
    height: 34px;
    padding: 22px 12px;
    background-color: #fff;
    border: 1px solid #798aa7 !important;
    border-radius: 4px;
  }
  .form-control{
      transition: all 0.3s ease;
  }
  .form-control:focus{
    box-shadow: 0px 0px 3px 3px #aeeaea !important;
    border:thin solid dodgerblue;
    z-index: 4;
    transition: all 0.3s ease;
  }
  .bottom-btn{
    margin-top: 15px !important;
  }
  .btn, button, [role=button], [type=submit] {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #2a2d2d;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    line-height: 1.5;
    margin: 0;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
}

.modal-header{
  background:#f4f9fc;
}
.modal-content{
    overflow: hidden;
    width: 60%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    position: relative;
}
.header-white{
    color: #000 !important;
    font-size: 16px;
    margin: 8px 0;
    font-weight: 400;
}
.close {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color:#292926;
    font-size: 28px;
    outline: none !important;
    opacity: 1;
    filter: alpha(opacity=50);
    -webkit-transition: back 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
}
.modal-header > .close {
    margin-top: 9px;
}
.to{
  font-size: 52px;
}
.image-bottom{
 
    top: 73px;
    z-index: 1000;
    position: relative;
    display: block;

}
.img-bottom{
    position: relative;
    top: 0px;
}
.image-below{
    position: relative;
    top: 43px;
}
#desk{
  padding-top: 120px;
  padding-bottom:60px;
}

/*this code added on 22/02/2020 by prabhat pandit*/
.c-layout-header .c-navbar .c-mega-menu > .nav.navbar-nav {
    line-height: 0px;
    background: none;
    position: static;
    margin: 50px 0px; 
    padding: 0;
}

.c-desktop-logo{
  width: 80px;
  object-fit: cover;
  position: relative;
  display: block;
}
.c-layout-header .c-brand {
    margin: 50px 0 37px 0;
}
.c-font-50 {
    font-size: 50px;
}
.header-content{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    align-content:center;
    flex-direction: column;
    /*position: relative;*/
    text-align: center;
}
.new-container{
  
  width: 100% !important;
}


.c-navbar{
 
  background: #fff !important;
  color: #000;
}
.c-link:hover{
  color: #000 !important;
}
.bigger-font{
    font-size: 43px;
    letter-spacing: -.08333rem;
    margin-bottom: 1.11111rem;
    color: #3b3f48;
    color: #3b3f48 !important;
    font-weight: 400;
    letter-spacing: -.02778rem;
   
}
.bigger-font-medium{
    font-size:40px;
    letter-spacing: -.08333rem;
    margin-bottom: 1.11111rem;
    color: #3b3f48;
   
}
.heading--subheadline {
    color: #07c597;
    font-family: Verlag A,Verlag B,proxima-nova,sans-serif;
    font-size: 1.2rem;
    font-weight: 800;
    letter-spacing:1px;
    margin-bottom: .27778rem;
    text-transform: uppercase;
}
.cta-secondary {
    border-bottom: 3px solid #07c597;
    color: #3b3f48;
    display: inline-block;
    font-family: circular-medium,verlag-book,proxima-nova,sans-serif;
    font-size: 2.0rem;
    line-height: 31px;
    text-decoration: none!important;
    font-weight: 400;
}  
.cta-secondary:hover{
  color: #07c597 !important;
} 
.custom-fonts{
  font-family: circular-book,proxima-nova,sans-serif !important;
  font-family: circular-medium,verlag-book,proxima-nova,sans-serif;
  font-weight: 400;
  line-height: 30px;
  font-size: 18px;
  color: #686e7b;
  text-align:left;
  margin-bottom: 1rem;
}
.custom-flex{
    display: flex;
    justify-content: end;
    align-items: baseline;
}

.global-footer{
background-color: #525252;
}
.padding{
  padding: 60px;
  margin-left: 60px;
}
.row-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: row;

}
.ripo{
  position: relative;
  display: block;
  bottom: 15px;
}
.head-para-new{
  
    position: relative;
    display: flex;
    width: 54%;
    margin-top: 20px;
    margin-bottom: -12px;

}
.form-fields{
 width:100%;
 position: relative;
 display: block;
 margin-top:20px;
}
.form-paddding{
  width:100%;
  border-radius: 3px;
  border:0px;
  outline: none;
  display: block;
  border:thin solid gray;
  padding: 12px 20px;

}
.request-form{
    background: #fff;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.1);
    padding: 17px;
}
.form-header{
  padding: 10px 10px 10px 10px;
  background-color: #0078BA;
  color: #fff;
  text-align: center;
  position: relative;
  display: block;
}
.text-white-new{
  text-align: center;
  color: #ffffff;
}
.textarea{
    width:100%;
    height: 63px;
    border-radius: 4px;
    user-select: none;
    resize: none;
    padding: 1px 20px;

}
.help-button{
  background-color: #00ADEF;
  display: block;
  position: relative;
  margin-top: 20px;
  width:100%;
  font-size: 25px;
  font-weight: 700;
}
::placeholder {
    font-family: circular-book,proxima-nova,sans-serif !important;
    font-family: circular-medium,verlag-book,proxima-nova,sans-serif !important;
    font-weight: 400;
    line-height: 30px;
    font-size: 18px;
    color: #686e7b;
    text-align: left;
    margin-bottom: 1rem;

}
.px-2{
  padding-right:45px;
}
.px-3{
  padding-left:40px;
}
.custom-width{
  bottom:30px;
  width: 100%;
}
.c-padding{
  padding: 5px;
}
.c-content-counter-1 > .row > div > div > .c-counter {
    font-size: 45px;
    font-weight: 300;
    color: #fff;
    margin: 10px auto 30px auto;
    background-color: #08c597;
    width: 200px;
    height: 200px;
    padding: 65px 0;
    border-radius: 200px;
    font-family: 'Montserrat', sans-serif;
}

.c-content-box.c-size-md {
    padding: 83px 0;
}
.text-white{
  color: #fff !important;
}


  #clients-new-new{
  width: 100%;
  position: relative;
  height: auto;
  }

.col-md{
    position: relative;
    padding-left: 181px;
}

.c-margin-b-20 {
    margin-bottom: 20px;
}
.text-smoke{
  color:#d2eae5 !important;
}
.custom-btn-new {
    background: #0b755c !important;
    color: #fff !important;
    border: 2px solid #5ddec6 !important;
    display: inline;
}

.hidden{
  display: none;
  position: relative;
}
.image-hidden{
  width: 100%;
  height: auto;
  position: relative;
  display: block;
  margin:0 auto;
  object-position: center;
  object-fit: cover;
  max-width: 100%;
}
.images-small{
  width: 72%;
  position: relative;
  display: block;
  object-fit: cover;
  object-position: center;
  height: auto;
}
.button-margin{
  margin-top:40px;
}
.padding-custom{
  padding: 30px;
}
.links-fonts{
  font-size: 17px;
  border-bottom: 2px solid #07c597;
    color: #3b3f48;
    display: inline-block;
    font-family: circular-medium,verlag-book,proxima-nova,sans-serif;
    
    line-height: 26px;
    text-decoration: none!important;
    font-weight: 400;
}
.btn-success{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #07c597;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    line-height: 1.5;
    margin: 0;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
}
.btn-success:hover{
  background-color:#455d58;
}
.italic{
    font-size: 20px;
    color: #08c597;
    font-family: italic !important;
}
.footer-links{
    border-bottom: 3px solid #07c597;
    color: #3b3f48;
    display: inline-block;
    font-family: circular-medium,verlag-book,proxima-nova,sans-serif;
    font-size: 18px;
    line-height: 27px;
    text-decoration: none!important;
    font-weight: 400;

}
.footer-para{
    color: #3b3f48;
    display: inline-block;
    font-family: circular-medium,verlag-book,proxima-nova,sans-serif;
    font-size: 18px;
    line-height: 27px;
    text-decoration: none!important;
    font-weight: 400;

}
.footer-margin{
  margin-top: 126px;
  padding:40px

}
.c-onepage-dots-nav{
  display: none;
}
.zsiq_theme1 .zsiq_user.siqico-chat {
    background-color: #10c699 !important;
}
.zsiq_flt_rel {
    background-color: #08c597 !important;
}
.mobile-dropdown {
    background: #07c597;
}
.mobile-dropdown-two {
    background: #07c597;
}
.mobile-dropdown-three {
    background: #07c597;
}
.d-d-block{
  display: block;
  position: relative;
}
.c-font-white {
    color:#fff !important;
}
.margin-top{
  margin-top: 20px;
}
.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    line-height: 10px;
    margin: 5px 7px;
    background: #08c597;
    border: thin solid black;
    display: block;
    padding: 10px !important;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 100%;
}
.thin-line{
    position: absolute;
    top: 58%;
    height:1px;
    width: 121px;
    background-color: #08c597;
    transform: translate(-50%,-50%);
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    left: 50%;
}
.visit-button-holder{
  width:100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: auto;

}
.new-padding{
  padding: 8px 45px !important;
}
.lines{
  position: relative;
  display: block;

}
.lines-two{
  position: relative;
  display: block;

}
.lines:after{
  position: absolute;
  display:block;
  text-align: center;
  width: 100px;
  height: 2px;
  background-color:#08c597;
  transform: translate(-27%,50%);
  left: 45%;
  top:60px;
  content: "";
}

.lines-two:after{
  position: absolute;
  display:block;
  text-align: center;
  width: 100px;
  height: 2px;
  background-color:#08c597;
  transform: translate(-27%,50%);
  left: 45%;
  top:30px;
  content: "";
}
.buttons-bolder{
    background: #3c3b39 !important;
    font-size: 17px;
    background-color: white;
    border: 2px solid indigo;
}

@media (min-width: 1180px){
.c-layout-header .c-navbar .c-mega-menu > .nav.navbar-nav {
    line-height: 0px;
    background: none;
    position: static;
    margin: 0px !important;
    padding: 0;
}
}

@media (min-width: 992px){
.c-layout-header .c-navbar .c-mega-menu > .nav.navbar-nav > li {
    padding: 0;
    margin: 0px 8px;
    margin:0px !important;
    float: left;
    position: static;
}
.mobile-dropdown{
  display: none;
}
.mobile-dropdown-two{
  display: none;
}
.mobile-dropdown-three{
  display: none;
}
.tis{
  height:60px !important;
}
.mobile-dropdown{
  display: none !important;
}
.mobile-dropdown-two{
  display: none !important;
}
.mobile-dropdown-three{
  display: none !important;
}
.c-layout-header .c-brand {
    margin: 15px 0 11px 0 !important;
}
.c-layout-header.c-layout-header-default .c-navbar .c-mega-menu > .nav.navbar-nav > li > .c-btn-icon, .c-layout-header.c-layout-header-default .c-navbar .c-mega-menu > .nav.navbar-nav > li > .c-link {
    
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}.text-white-new {
    text-align: center;
    color: #ffffff;
    font-size: 16px;
}
.px-3{
    padding-left: 0px;
   }

}

@media only screen and (max-width:1440px){
  .width-fitfy{
    width: 100% !important;
    margin-top: 80px;
   
  }
  .head-para{
    position: relative;
    display: flex;
    width: 100%;
  }
  .desk-margin-custom{
    margin-top: 0px !important;
    text-align: center;
    position: relative;
    
  }
  .header-para{
     text-align:left;
     line-height: 1.5em;
   
    letter-spacing: 0.04em;
    margin-bottom: 1.8em;
    color: #000 !important;
    width: 30%;
  }
  .new-cols{
    /*display: contents;*/
  }
  }

@media only screen and (max-width:1100px){
.header-content {
    padding: 22% 6%;
    z-index: 9;
    position: fixed;
    top: 40px;
    font-family: 'Montserrat', sans-serif;
}
.container-fluid {
    padding: 0 0px !important;
}
}

@media (max-width: 991px){
.c-layout-header.c-layout-header-dark-mobile .c-brand > .c-hor-nav-toggler {
    position: relative;
    top: -1px;
    display: inline-block;
    background: #2e333a;
    padding: 16px 16px 16px 16px;
}
.c-layout-header .c-brand > .c-hor-nav-toggler > .c-line {
    width: 35px;
    display: block;
    height: 3px;
    padding: 0px;
    margin: 5px 0;
}
.c-layout-header.c-layout-header-dark-mobile .c-brand > .c-hor-nav-toggler > .c-line {
    background: #fff;
}
.c-layout-header .c-navbar .c-mega-menu {
    display: inline-block;
    padding: 0;
    margin: 0;
    padding: 5px 10px;
    display: none;
    width:100%;
    margin:0 auto !important;
    float: none !important;
    overflow-x: hidden;
    transition: all 0.2s;
}
.c-layout-header .c-brand {
    float: none !important;
    display: block;
    margin: 9px 15px 21px 15px;
}
.padding-custom {
    padding: 0px;
}
.mobile-margin{
  margin-top: 40px;
}
.mobile-footer-paddings{
  padding-top: 30px !important;
}
.padding-top-bottom{
  padding-bottom: 20px;
  padding-top: 20px;
}
.text-white-new {
    text-align: center;
    color: #ffffff;
    font-size: 16px;
}
.mobile-form{
    width: 90%;
    margin: 0px 10px;
}
.lines-two:after{
  position: absolute;
  display:block;
  text-align: center;
  width: 100px;
  height: 2px;
  background-color:#08c597;
  transform: translate(-27%,50%);
  left: 45%;
  top:60px;
  content: "";
}
}

@media (max-width: 767px){
.owl-theme:not(.owl-single):not(.owl-bordered) {
    margin-left: -20px;
    width: calc(100% + 20px);
}
}

@media only screen and (max-width:768px){

  .child-dropdown{
  display: none !important;
}
.navbar-nav {
    margin: 0 auto;
}
.modal-content{
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    position: relative;
}
.modal-body {
    padding: 40px 30px !important;
}
form{
 text-align: center;
}
.modal-header .close {
    margin-top: 6px;
}
.modal-header {
    padding: 13px 13px !important;
}
.separate_links{
    position: relative;
    top: 10px;
    padding: 2px 6px;
    border-radius: 6px;
    border: thin solid #d2ca32;
}
.custom-flex {
    display: block;
    justify-content: baseline;
    justify-content: center;
    align-items: baseline;
    text-align: center;
}
.row-flex{
    display:block;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: row;
}
.heading--subheadline{
  text-align: left;
  padding: 0px 11px;
}
.px-2 {
    padding-right:0px;
}
.custom-width{
  bottom:0px;
  
}
.custom-position{
    position: relative;
    bottom: 57px;
}
.custom-call{
  margin-bottom: 7px;
}
.margin-bottom{
      margin-bottom: 50px;
}
.col-md{
    position: relative;
    padding-left:0px;
    padding: 20px;
}
#clients-new-new{
  background:#fff;
  z-index: 99999999;
  height: auto;
}


.header-para {
    position: relative;
    font-size: 15px !important;
    font-family: inherit;
    display: block;
    font-weight: 400;
    text-align: left;
    color: #fff !important;
}
.hidden{
  display: block !important;
}
.buy-button{
    position: relative;
    top: 19px;

}
.padding-custom {
    padding: 0px;
}
.images-small {
    width: 100%;
    position: relative;
    display: block;
    object-fit: cover;
    object-position: center;
    height: auto;
    margin: 0 auto;
}
.mobile-margin{
  margin-top: 40px;
}
#desk{
  padding-top:40px;
  margin-bottom:0px;
}
.mobile-para-padding{
  padding: 12px;
}
.footer-margin{
  margin-top:0px;
  padding:0px

}
.mobile-footer-paddings{
  padding-top: 30px;
}
.padding-top-bottom{
  padding-bottom: 20px;
  padding-top: 20px;
}
.double-mobile{
    padding: 26px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.text-white-new {
    text-align: center;
    color: #ffffff;
    font-size: 16px;
}
.mobile-form{
    width: 90%;
    margin: 0px 10px;
}
.px-3{
    padding-left: 0px;
   }
.header-padding-mobile{
    padding: 12px;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
}
.owl-carousel .owl-controls {
    margin-top: 0px !important;
    position: absolute;
    bottom: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.lines-two:after{
  position: absolute;
  display:block;
  text-align: center;
  width: 100px;
  height: 2px;
  background-color:#08c597;
  transform: translate(-27%,50%);
  left: 45%;
  top:60px;
  content: "";
}
}


@media only screen and (max-width:600px){

  .header-content {
    padding: 56% 15%;
    z-index: 9;
    position: fixed;
    top:0 !important;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.c-font-50 {
    font-size: 30px;
}
.child-dropdown{
  display: none !important;
}
.mobile-dropdown{
  display: none;
}
.mobile-dropdown-two{
  display: none;
}
.mobile-dropdown-three{
  display: none;
}
.navbar-nav {
    margin: 0 auto;
}
.owl-theme:not(.owl-single):not(.owl-bordered) .owl-wrapper .owl-item, .owl-theme:not(.owl-single):not(.owl-bordered) .owl-stage-outer .owl-item {
    padding: 0 0px;
    padding: 0px !important;
}
.sm-text-center{
text-align: center;
}
.c-content-title-3 > h3.c-font-uppercase {
    font-size: 25px;
    margin: 30px 0 30px 0;
    line-height: 38px;
}
.width-center {
    margin: 0 auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    flex-shrink: initial;
    flex-wrap: nowrap;
    margin-top: 20px;
    margin-bottom: 30px;
}
.c-layout-header.c-layout-header-dark-mobile .c-brand > .c-hor-nav-toggler > .c-line {
    background: #1e2158;
}
.c-layout-header.c-layout-header-dark-mobile .c-brand > .c-hor-nav-toggler {
    position: relative;
    top: -1px;
    display: inline-block;
    background: #ffd81c;
    padding: 16px 16px 16px 16px;
}
.tis{
  height:30px !important;
}
.c-root-unserline {
    border-radius: 5px;
    background-color: #FFD81B;
    z-index: 230;
    width: 120px;
    height: 10px;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    left: 30%;
    transform: translate(0%, -50%);
    position: relative;
}
.c-root-unserline-wh {
    border-radius: 5px;
    background-color: #FFF;
    z-index: 230;
    width: 120px;
    height: 10px;
    margin-top: 16px;
    transform: translate(0%, -50%);
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    left: 30%;
}
.modal-content{
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    position: relative;
}
.modal-body {
    padding: 40px 30px !important;
}
form{
 text-align: center;
}
.modal-header .close {
    margin-top: 6px;
}
.image-bottom{
 
    top: 0px;
    z-index: 1000;
    position: relative;
    display: block;

}
.modal-header {
    padding: 13px 13px !important;
}
.separate_links{
    position: relative;
    top: 10px;
    padding: 2px 6px;
    border-radius: 6px;
    border: thin solid #d2ca32;
}
.banner{
  z-index: 0;
}
.bigger-font{
    font-size:27px;
    letter-spacing: -.08333rem;
    margin-bottom: 1.11111rem;
    color: #3b3f48;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight:400;
    text-align: center;
    line-height: 40px;
   
}

.bigger-font-medium{
    font-size:24px;
    letter-spacing: -.08333rem;
    margin-bottom: 1.11111rem;
    color: #3b3f48;
    text-align: center;
    line-height: 40px;
   
}
.custom-flex {
    display: block;
    justify-content: baseline;
    justify-content: center;
    align-items: baseline;
    text-align: center;
}
.media-margin{
  margin-top: 20px;
}
.row-flex{
    display:block;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: row;
}
.heading--subheadline{
  text-align: left;
  padding: 0px 11px;
}
.px-2 {
    padding-right:0px;
}
.custom-width{
  bottom:30px;
  
}
.custom-position{
    position: relative;
    bottom: 0px;
}
.custom-call{
  margin-bottom: 7px;
}
#services .c-content-box.c-size-md {
    padding: 0px 0 !important;
}
.fonts{
  font-size: 33px;
}
.margin-bottom{
      margin-bottom: 50px;
}
.col-md{
    position: relative;
    padding-left:0px;
    padding: 20px;
}
#clients-new-new{
  background:#fff;
  z-index: 99999999;
  height: auto;
}
.hidden{
  display: block !important;
}
.head-para-new {
    position: relative;
    display: flex;
    width: 54%;
    margin-top: 20px;
    margin-bottom: -29px;
}
.buy-button{
    position: relative;
    top: 19px;

}
.padding-flex{
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
}
.padding-custom {
    padding: 0px;
}
.images-small {
    width: 100%;
    position: relative;
    display: block;
    object-fit: cover;
    object-position: center;
    height: auto;
    margin: 0 auto;
}
.mobile-margin{
  margin-top: 40px;
}
 .width-fitfy{
    width: 100% !important;
    display: block;
    margin-top:0px;

  }
  .head-para{
    position: relative;
    display: flex;
    width: 100%;
    width:100%;
  }
  .desk-margin-custom{
    margin-top: 0px !important;
    text-align: center;
    position: relative;
  }
  .header-para{
    text-align: center;
    width:100%;
  }
  .new-cols{
    /*display: contents;*/
  }
  .hide-in-mobile{
    display: none;
  }
  #desk{
  padding-top:40px;
  margin-bottom:0px;
}
.mobile-para-padding{
  padding: 12px;
}
.footer-margin{
  margin-top:0px;
  padding:17px
  padding-top:0px;
}
.mobile-footer-paddings{
  padding-top: 30px;
}
.padding-top-bottom{
  padding-bottom: 20px;
  padding-top: 20px;
}
.double-mobile{
    padding: 26px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.mobile-button{
    margin-top: 30px;
    margin-bottom: 20px;
}
.text-white-new {
    text-align: center;
    color: #ffffff;
    font-size: 16px;
}
.mobile-form{
    width: 90%;
    margin: 0px 10px;
}
.px-3{
    padding-left: 0px;
   }
.header-padding-mobile{
    padding: 12px;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
}
.double-para{
    padding: 25px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 85vh;
}
.owl-carousel .owl-controls {
    margin-top: 0px !important;
    position: absolute;
    bottom: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.lines-two:after{
  position: absolute;
  display:block;
  text-align: center;
  width: 100px;
  height: 2px;
  background-color:#08c597;
  transform: translate(-27%,50%);
  left: 45%;
  top:60px;
  content: "";
}
}


@media (max-width: 520px){
.c-layout-header-fullscreen.c-layout-header-mobile-fixed.c-layout-header-static .c-layout-header, .c-layout-header-fixed.c-layout-header-mobile-fixed .c-layout-header {
    top:0px;
    position: fixed;
    z-index: 9;
    width: 100%;
    transition: none;
}
.banner {
    position: relative;
    top: 109px;
    left: 0;
    width: 100%;
    height: 100vh;
    height: 87vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position:center;
}
.banner{
  z-index: 0;
}
.image-below{
    position: relative;
    top:0px;
}
.custom-flex {
    display: block;
    justify-content: baseline;
    justify-content: center;
    align-items: baseline;
    text-align: center;
}
.media-margin{
  margin-top: 20px;
}
.row-flex{
    display:block;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: row;
}
.heading--subheadline{
 text-align: left;
  padding: 0px 11px;
}
.px-2 {
    padding-right:0px;
}
.custom-width{
  bottom:30px;
  
}
.custom-position{
    position: relative;
    bottom: 0px;
}
.custom-call{
  margin-bottom: 7px;
}

.fonts{
  font-size: 33px;
}
.margin-bottom{
      margin-bottom: 50px;
}
.col-md{
    position: relative;
    padding-left:0px;
    padding: 20px;
}
#clients-new-new{
  background:#fff;
  z-index: 99999999;
  height: auto;
}
.hidden{
  display: block !important;
}
.no-padding{
  padding: 0px !important
}
.head-para-new {
    position: relative;
    display: flex;
    width: 54%;
    margin-top: 20px;
    margin-bottom: -29px;
}
.buy-button{
    position: relative;
    top: 19px;

}
.padding-flex{
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
}
.padding-custom {
    padding: 0px;
}
.images-small {
    width: 100%;
    position: relative;
    display: block;
    object-fit: cover;
    object-position: center;
    height: auto;
    margin: 0 auto;
}
.mobile-margin{
  margin-top: 40px;
}
#desk{
  padding-top:30px;
  margin-bottom:0px;
}
.mobile-para-padding{
  padding: 12px;
}
.footer-margin{
  margin-top:0px;
  padding:0px

}
.footer-margin{
  margin-top:0px;
  padding:17px;
  padding-top: 0px;
}
.mobile-footer-paddings{
  padding-top: 30px;
}
.padding-top-bottom{
  padding-bottom:30px !important;
  padding-top: 20px !important;
}
.mobile-bottom{
  padding-bottom: 35px !important;
}
.double-mobile{
    padding: 26px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.mobile-button{
    margin-top: 30px;
    margin-bottom: 20px;
}
.text-white-new {
    text-align: center;
    color: #ffffff;
    font-size: 16px;
}
.mobile-form{
    width: 90%;
    margin: 0px 10px;
}
#desk-one{
  padding-bottom: 30px;
}
.px-3{
    padding-left: 0px;
   }
.header-padding-mobile{
    padding: 12px;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
}
.double-para{
    padding: 25px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.mobile-space{
    position: relative;
    bottom: 65px;
    padding-bottom: 0px !important;
}
.header-content{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#whyus {
     /*margin-top: 216px !important;*/
     margin-top: 90px !important;
}
.header-content{

    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: -webkit-center;

}
.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 85vh;
}
.lines-two:after{
  position: absolute;
  display:block;
  text-align: center;
  width: 100px;
  height: 2px;
  background-color:#08c597;
  transform: translate(-27%,50%);
  left: 45%;
  top:60px;
  content: "";
}
}

@media only screen and (max-width:480px){

  .header-content {
    /*padding:34% 15%;*/
    padding:9% 15%;
    z-index: 9;
    position: fixed;
    top:0 !important;
    font-family: 'Montserrat', sans-serif;
}
.c-font-50 {
    font-size: 30px;
}
.child-dropdown{
  display: none !important;
}
.mobile-dropdown{
  display: none;
}
.mobile-dropdown-two{
  display: none;
}
.mobile-dropdown-three{
  display: none;
}
.navbar-nav {
    margin: 0 auto;
}
.owl-theme:not(.owl-single):not(.owl-bordered) .owl-wrapper .owl-item, .owl-theme:not(.owl-single):not(.owl-bordered) .owl-stage-outer .owl-item {
    padding: 0 0px;
    padding: 0px !important;
}
.c-content-title-3 > h3.c-font-uppercase {
    font-size: 25px;
    margin: 30px 0 30px 0;
    line-height: 38px;
}
.c-content-title-1 > h3.c-font-uppercase {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.width-center {
    margin: 0 auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    flex-shrink: initial;
    flex-wrap: nowrap;
    margin-top: 20px;
    margin-bottom: 30px;
}
.c-layout-header.c-layout-header-dark-mobile .c-brand > .c-hor-nav-toggler > .c-line {
    background: #1e2158;
}
.c-layout-header.c-layout-header-dark-mobile .c-brand > .c-hor-nav-toggler {
    position: relative;
    top: -1px;
    display: inline-block;
    background: #ffd81c;
    padding: 16px 16px 16px 16px;
}
.pd{
  margin-top: 0px !important;
}
.to{
  font-size: 35px;
}
.tis{
  height:30px !important;
}
.c-root-unserline {
    border-radius: 5px;
    background-color: #FFD81B;
    z-index: 230;
    width: 120px;
    height: 10px;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    left: 30%;
    transform: translate(0%, -50%);
    position: relative;
}
.c-root-unserline-wh {
    border-radius: 5px;
    background-color: #FFF;
    z-index: 230;
    width: 120px;
    height: 10px;
    margin-top: 16px;
    transform: translate(0%, -50%);
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    left: 30%;
}
.modal-content{
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    position: relative;
}
.modal-body {
    padding: 40px 30px !important;
}
form{
 text-align: center;
}
.modal-header .close {
    margin-top: 6px;
}
.image-bottom{
 
    top: 0px;
    z-index: 1000;
    position: relative;
    display: block;

}
.modal-header {
    padding: 13px 13px !important;
}
.separate_links{
    position: relative;
    top: 10px;
    padding: 2px 6px;
    border-radius: 6px;
    border: thin solid #d2ca32;
}
.banner{
  z-index: 0;
}
.image-below{
    position: relative;
    top:0px;
}
.custom-flex {
    display: block;
    justify-content: baseline;
    justify-content: center;
    align-items: baseline;
    text-align: center;
}
.media-margin{
  margin-top: 20px;
}
.row-flex{
    display:block;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: row;
}
.padding {
    padding: 0px;
    margin-left: 0px;
}
.heading--subheadline{
  text-align: left;
  padding: 0px 11px;
}
.px-2 {
    padding-right:0px;
}
.custom-width{
  bottom:30px;
  
}
.custom-position{
    position: relative;
    bottom:0px;
}
.custom-call{
  margin-bottom: 7px;
}
#services .c-content-box.c-size-md {
    padding: 0px 0 !important;
}
.fonts{
  font-size: 33px;
}
.margin-bottom{
      margin-bottom: 50px;
}
.col-md{
    position: relative;
    padding-left:0px;
    padding: 20px;
}
#clients-new-new{
  background:#fff;
  z-index: 99999999;
  height: auto;
}
.hidden{
  display: block !important;
}
.head-para-new {
    position: relative;
    display: flex;
    width: 54%;
    margin-top: 20px;
    margin-bottom: -29px;
}
.buy-button{
    position: relative;
    top: 19px;

}
.padding-flex{
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
}
.padding-custom {
    padding: 0px;
}
.images-small {
    width: 100%;
    position: relative;
    display: block;
    object-fit: cover;
    object-position: center;
    height: auto;
    margin: 0 auto;
}
.mobile-margin{
  margin-top: 40px;
}
#desk{
  padding-top:30px;
  margin-bottom:0px;
}
.mobile-para-padding{
  padding: 12px;
}
.mobile-button{
  padding: 9px !important;
}
.footer-margin{
  margin-top:0px;
  padding:17px;
  padding-top: 0px;
}
.mobile-footer-paddings{
  padding-top: 30px;
}
.padding-top-bottom{
  padding-bottom: 30px !important;
  padding-top: 20px !important;
}
.mobile-bottom{
  padding-bottom: 35px !important;
}
.double-mobile{
    padding: 26px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.mobile-padding-left{
  padding-left: 0px;
}
.mobile-button{
    margin-top: 30px;
    margin-bottom: 20px;
}
.text-white-new {
    text-align: center;
    color: #ffffff;
    font-size: 16px;
}
.mobile-form{
    width: 90%;
    margin: 0px 10px;
}
#desk-one{
  padding-bottom: 30px;
}
.px-3{
    padding-left: 0px;
   }
.header-padding-mobile{
    padding: 12px;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
}
.double-para{
    padding: 25px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.mobile-space{
    position: relative;
    bottom: 65px;
    padding-bottom: 0px !important;
}
#whyus {
    /*margin-top: 216px !important;*/
    margin-top: 92px !important;
}
.header-content{

    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: -webkit-center;

}
.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 85vh;
}
}

@media (max-width: 420px){
.c-layout-header .c-navbar .c-mega-menu > .nav.navbar-nav > li > .c-link {
    padding: 25px 20px 10px 20px;
    font-size: 15px;
    letter-spacing: 1px;
}
.c-content-title-3 > h3.c-font-uppercase {
    font-size: 25px;
    margin: 30px 0 30px 0;
    line-height: 38px;
    text-align: center;
}
.c-content-title-1 > h3.c-font-uppercase {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.width-center {
    margin: 0 auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    flex-shrink: initial;
    flex-wrap: nowrap;
    margin-top: 20px;
    margin-bottom: 30px;
}
.c-layout-header.c-layout-header-dark-mobile .c-brand > .c-hor-nav-toggler > .c-line {
    background: #1e2158;
}
.c-layout-header.c-layout-header-dark-mobile .c-brand > .c-hor-nav-toggler {
    position: relative;
    top: -1px;
    display: inline-block;
    background: #fff;
    padding: 16px 16px 16px 16px;
}
.pd{
  margin-top: 0px !important;
}
.to{
  font-size: 35px;
}
.tis{
  height:30px;
}
.c-root-unserline {
    border-radius: 5px;
    background-color: #FFD81B;
    z-index: 230;
    width: 120px;
    height: 10px;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    left: 30%;
    transform: translate(0%, -50%);
    position: relative;
}
.c-root-unserline-wh {
    border-radius: 5px;
    background-color: #FFF;
    z-index: 230;
    width: 120px;
    height: 10px;
    margin-top: 16px;
    transform: translate(0%, -50%);
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    left: 30%;
}
.modal-content{
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    position: relative;
}
.modal-body {
    padding: 40px 30px !important;
}
form{
 text-align: center;
}
.modal-header .close {
    margin-top: 6px;
}
.image-bottom{
 
    top:0px;
    z-index: 1000;
    position: relative;
    display: block;

}
.modal-header {
    padding: 13px 13px !important;
}
.separate_links{
    position: relative;
    top: 10px;
    border: thin solid #d2ca32;
    padding: 2px 6px;
    border-radius: 6px;
}
.banner{
  z-index: 0;
}
.image-below{
    position: relative;
    top:0px;
}
.custom-flex {
    display: block;
    justify-content: baseline;
    justify-content: center;
    align-items: baseline;
    text-align: center;
}
.media-margin{
  margin-top: 20px;
}
.row-flex{
    display:block;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: row;
}
.padding {
    padding: 0px;
    margin-left: 0px;
}
.heading--subheadline{
  text-align: left;
  padding: 0px 11px;
}
.px-2 {
    padding-right:0px;
}
.custom-width{
  bottom:30px;
  
}
.custom-position{
    position: relative;
    bottom: 0px;
    display: inline-block;
}
.custom-call{
  margin-bottom: 7px !important;
}
#services .c-content-box.c-size-md {
    padding: 0px 0 !important;
}
.fonts{
  font-size: 33px;
}
.margin-bottom{
      margin-bottom: 50px;
}
.col-md{
    position: relative;
    padding-left:0px;
    padding: 20px;
}
#clients-new-new{
  background:#fff;
  z-index: 99999999;
  height: auto;
}
.hidden{
  display: block !important;
}
.no-padding{
  padding: 0px !important
}
.head-para-new {
    position: relative;
    display: flex;
    width: 54%;
    margin-top: 20px;
    margin-bottom: -29px;
}
.buy-button{
    position: relative;
    top: 19px;

}
.text-bolder{
  font-weight: 600;
}
.padding-flex{
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
}
.padding-custom {
    padding: 0px;
}
.images-small {
    width: 100%;
    position: relative;
    display: block;
    object-fit: cover;
    object-position: center;
    height: auto;
    margin: 0 auto;
}
.mobile-margin{
  margin-top: 40px;
}
#desk{
  padding-top:30px;
  margin-bottom:0px;
}
.mobile-para-padding{
  padding: 12px;
}
.mobile-button{
  padding: 9px;
}
.footer-margin{
  margin-top:0px;
  padding:17px;
  padding-top: 0px;
}
.mobile-footer-paddings{
  padding-top: 30px;
}
.padding-top-bottom{
  padding-bottom: 30px !important;
  padding-top: 20px !important;
}
.mobile-bottom{
  padding-bottom: 35px !important;
}
.double-mobile{
    padding: 26px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.mobile-padding-left{
  padding-left: 0px;
}
.mobile-button{
    margin-bottom: 20px;
}
.text-white-new {
    text-align: center;
    color: #ffffff;
    font-size: 16px;
}
.mobile-form{
    width: 90%;
    margin: 0px 10px;
}
#desk-one{
  padding-bottom: 30px;
}
.px-3{
    padding-left: 0px;
   }
.header-padding-mobile{
    padding: 12px;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
}
.double-para{
    padding: 25px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.mobile-space{
    position: relative;
    bottom: 65px;
    padding-bottom: 0px !important;
}
.header-content{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#whyus {
    /*margin-top: 216px !important;*/
    margin-top:91px !important;
}
.header-content{

    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: -webkit-center;

}
.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 85vh;
}
.lines-two:after{
  position: absolute;
  display:block;
  text-align: center;
  width: 100px;
  height: 2px;
  background-color:#08c597;
  transform: translate(-27%,50%);
  left: 45%;
  top:60px;
  content: "";
}
}
@media only screen and (max-width: 320px){
  .mobile-button{
    display: block;
    font-size: 12px;
  }
  .lines-two:after{
  position: absolute;
  display:block;
  text-align: center;
  width: 100px;
  height: 2px;
  background-color:#08c597;
  transform: translate(-27%,50%);
  left: 45%;
  top:60px;
  content: "";
}
}
</style>
<style type="text/css">.fancybox-margin{margin-right:0px;}</style>


<style type="text/css">
  @media only screen and (max-width:1024px){
     .width-fitfy{
    width: 100% !important;
    display: block;

  }
  .head-para{
    position: relative;
    display: flex;
    width: 100%;
  }
  .desk-margin-custom{
    margin-top: 0px !important;
    text-align: center;
    position: relative;
    
  }
  .header-para{text-align: center;}
  .new-cols{
    /*display: contents;*/
  }
  }
  @media only screen and (max-width:992px){
  .width-fitfy{
    width: 100% !important;
    display: block;
    margin-top:0px;
  }
  .head-para{
    position: relative;
    display: flex;
    width: 100%;
    width:100%;
  }
  .desk-margin-custom{
    margin-top: 0px !important;
    text-align: center;
    position: relative;
    
  }
  .header-para{text-align: center;
               width:100%;
              }
  .new-cols{
    /*display: contents;*/
  }
  }

  @media only screen and (max-width:768px){
  .width-fitfy{
    width: 100% !important;
    display: block;
    margin-top:0px;

  }
  .head-para{
    position: relative;
    display: flex;
    width: 100%;
    width:100%;
  }
  .desk-margin-custom{
    margin-top: 0px !important;
    text-align: center;
    position: relative;
    
  }
  .header-para{

               text-align: center;
               width:100%;
              }
  .new-cols{
    /*display: contents;*/
  }
.custom-width{
  bottom:0px;
  
}
  }

  @media only screen and (max-width: 600px){
    
  }


 .item{
  height: 100vh;
  position: relative;
  display: block;
  width: 100%;
 }






 .custom-btn-new-new {
    background: #0b755c !important;
    color: #fff !important;
    border: 2px solid #5ddec6 !important;
    display: inline;
}
.c-mobile-logo{
  width:93px;
}